In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train=pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/train.csv')
test=pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/test.csv')

In [ ]:
train.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [ ]:
y_train=train['Survived']

In [ ]:
train.drop(labels='Survived',axis=1,inplace=True)

In [ ]:
train.shape

(891, 11)

In [ ]:
train_test=train.append(test)

<ipython-input-98-d2734cde2921>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_test=train.append(test)

In [ ]:
columns_to_drop=["Name","Age","SibSp","Ticket","Cabin","Parch","Embarked"]
train_test.drop(labels=columns_to_drop,axis=1,inplace=True)

In [ ]:
train_test

     PassengerId  Pclass     Sex      Fare
0              1       3    male    7.2500
1              2       1  female   71.2833
2              3       3  female    7.9250
3              4       1  female   53.1000
4              5       3    male    8.0500
..           ...     ...     ...       ...
413         1305       3    male    8.0500
414         1306       1  female  108.9000
415         1307       3    male    7.2500
416         1308       3    male    8.0500
417         1309       3    male   22.3583

[1309 rows x 4 columns]

In [ ]:
train_test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Fare           1
dtype: int64

In [ ]:
train_test_dummies=pd.get_dummies(train_test,columns=['Sex'])

In [ ]:
train_test_dummies.shape

(1309, 5)

In [ ]:
train_test_dummies.fillna(value=0.0,inplace=True)

In [ ]:
x_train=train_test_dummies.values[0:891]
x_test=train_test_dummies.values[891:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_train_scale=scaler.fit_transform(x_train)
x_test_scale=scaler.fit_transform(x_test)

In [ ]:
from sklearn.model_selection import train_test_split
x_train_sub,x_validation_sub,y_train_sub,y_validation_sub=train_test_split(x_train_scale,y_train,random_state=0)

In [ ]:
learning_rates=[0.05,0.1,0.25,0.5,0.75,1]
for learning_rate in learning_rates:
  gb=GradientBoostingClassifier(n_estimators=20,learning_rate=learning_rate,max_features=2, max_depth = 2, random_state = 0)
  gb.fit(x_train_sub,y_train_sub)
  print("Learning rate:",learning_rate)
  print("Accuracy score (training): {0:.3f}".format(gb.score(x_train_sub,y_train_sub)))
  print("Accuracy score (validation): {0:.3f}".format(gb.score(x_validation_sub,y_validation_sub)))
  print()

Learning rate: 0.05
Accuracy score (training): 0.778
Accuracy score (validation): 0.798

Learning rate: 0.1
Accuracy score (training): 0.804
Accuracy score (validation): 0.816

Learning rate: 0.25
Accuracy score (training): 0.819
Accuracy score (validation): 0.798

Learning rate: 0.5
Accuracy score (training): 0.838
Accuracy score (validation): 0.812

Learning rate: 0.75
Accuracy score (training): 0.844
Accuracy score (validation): 0.821

Learning rate: 1
Accuracy score (training): 0.852
Accuracy score (validation): 0.807